.header, .content, .footer{
    padding: 10px;
}

*{
    font-family: 'Rubik', sans-serif;
}

a, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #f4846a;
}

body{
    background-image: url("../img/embossed-diamond.png");
    
}

.header{
    grid-area: header;
    background-color: #f4846a;
    border-radius: 5px 5px 0 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header img{
    width: 5%;
    display: block;
}

.header h3{
    font-weight: bold;
    padding: 10px;
}

.content{
    grid-area: content;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer{
    grid-area: footer;
    background-color: #f4846a;
    border-radius: 0px 0px 5px 5px;
}

.grid-wrapper{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12vh 1fr 15vh;
    gap: 10px;

    grid-template-areas: "header header header"
                         "content content content"
                         "footer footer footer";

    padding: 10px;
    box-sizing: border-box;
}

.links{
    border: 2px solid rgba(100, 76, 84, 0.35);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.50);

    width: 25vw;
    background-color: #f4f4f4;
    
    font-weight: bold;
    font-size: large;
    text-align: center;
    
    padding: 18px;
    margin: 0px;
    align-self: stretch;
    width: 35vw;
}

.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
    text-align: center;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

.btn:hover{
    background-color: #f4846a;
}

.error-login{
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}

.content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    width: 35vw;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: large;
}

.content-table thead tr{
    background-color: #D47A6A;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    background-color: white;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f4f4f4;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #D47A6A;
}

.content-admin{
    grid-area: content;
    display: flex;
    flex-direction: column;
}

.table-box{
    align-self: center;
}

.header a:hover{
    color: black;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 40vw;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}

.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px black !important
}

.send, .cancel{
    color: #fff;
    background-color: black;
    border-color: black;
}

.send:hover, .cancel:hover {
    color: #fff;
    background-color: #f4846a;
    border-color: #f4846a
}

.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ffc700;
    cursor: pointer
}

.star {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ffc700;
    opacity: 1 !important;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.juegos-content{
    grid-area: content;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-comentarios{
    padding-top: 5vh;
}

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}

.comentarios-card {
    padding: 0px;
    margin-top: 5vh;
}

.nombre-usuario{
    color: black;
    font-weight: bold;
}

.card-body {
    flex: 1 1 auto;
    padding: 0px;
    padding-top: 15px;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px
}

.comment-widgets {
    position: relative;
    margin-bottom: 10px
}

.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: flex;
    margin: 10px 0
}

.p-2 {
    padding: 0.5rem !important
}

.comment-text {
    padding-left: 15px
}

.w-100 {
    width: 100% !important
}

.m-b-15 {
    margin-bottom: 15px
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 1px
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.05);
}

.mensaje-box{
    display: block;
}

.rating-mensaje{
    display: flex;
    flex-direction: column;
}

.rating-box{
    display: flex;
    padding: 0px;
}

.card-body > button {
    margin: 0px;
    margin-bottom: 10px;
}

.btn-active {
    background-color: #f4846a;
}