.header, .content, .footer{
    padding: 10px;
}

*{
    font-family: 'Rubik', sans-serif;
}

a, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #f4846a;
}

body{
    background-image: url("img/embossed-diamond.png");
    
}

.header{
    grid-area: header;
    background-color: #f4846a;
    border-radius: 5px 5px 0 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header img{
    width: 5%;
    display: block;
}

.header h3{
    font-weight: bold;
    padding: 10px;
}

.content{
    grid-area: content;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer{
    grid-area: footer;
    background-color: #f4846a;
    border-radius: 0px 0px 5px 5px;
}

.grid-wrapper{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12vh 1fr 15vh;
    gap: 10px;

    grid-template-areas: "header header header"
                         "content content content"
                         "footer footer footer";

    padding: 10px;
    box-sizing: border-box;
}

.links{
    border: 2px solid rgba(100, 76, 84, 0.35);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.50);

    width: 25vw;
    background-color: #f4f4f4;
    
    font-weight: bold;
    font-size: large;
    text-align: center;
    
    padding: 18px;
    margin: 0px;
    align-self: stretch;
    width: 35vw;
}

.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
    text-align: center;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

.btn:hover{
    background-color: #f4846a;
}

.error-login{
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}

.content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    width: 35vw;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: large;
}

.content-table thead tr{
    background-color: #D47A6A;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    background-color: white;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f4f4f4;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #D47A6A;
}

.content-admin{
    grid-area: content;
    display: flex;
    flex-direction: column;
}

.table-box{
    align-self: center;
}

.header a:hover{
    color: black;
}
